@{
    ViewBag.Title = "Добро пожаловать в GRADEXPO";
}


<div class="jumbotron">
    <h1 class="display-3">Администрирование</h1>
    <p class="lead">Раздел администированиея системы.</p>
    <hr class="my-4">
    <p>
        <ul>
            <li>Отображение, создание и добавление Пользователей, назначение ролей (Администратор или Участник)</li>
            <li>Отображение, создание и редактирование Выставок</li>
            <li>Cоздание и редактирование Поставщиков, импорт из файла</li>
            <li>Отображение, создание и редактирование Стендов выставки</li>
            <li>Отображение, создание и редактирование плановых Визитов Пользователей на Стенды (может быть несколько Пользователей в одном Визите)</li>
            <li>Отображение, создание и редактирование Списка Проектов и Продуктов (с приложением ТЗ в виде Pdf)</li>
            <li>Отображение, создание и редактирование плановых Встреч Пользователей с Поставщиками (может быть несколько Пользователей в одной Встрече)</li>
        </ul>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Перейти</a>
    </p>
</div>

<div class="jumbotron">
    <h1 class="display-3">Отчетность</h1>
    <p class="lead">Отчеты из ситсема</p>
    <hr class="my-4">
    <p>
        <ul>
            <li>Отображение Плановых и Фактических Визитов Выставки в Календаре с возможностью фильтрации по Сотрудникам, Выставкам и Поставщикам </li>
            <li>Выгрузка Плановых и фактических Визитов за период в Excel c возможностью фильтрации</li>
            <li>Просмотр данных Фактического Визита и Встречи в веб-интерфейсе</li>
            <li>Выгрузка полной отчетности по выставке в XLS и PPT</li>
        </ul>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Перейти</a>
    </p>
</div>