@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logoff", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@User.Identity.Name<span class="caret"></span></a>
                <div class="dropdown-menu" aria-label="login">
                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
                </div>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Войти", "Index", "Login", null, new { id = "loginLink" })</li>
    </ul>
}